extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/Homepage/Homepage-1/Homepage-1
	include ../components/modules/Homepage/Homepage-2/Homepage-2
	include ../components/modules/Homepage/Homepage-3/Homepage-3
	include ../components/modules/Homepage/Homepage-4/Homepage-4
	include ../components/modules/Homepage/Homepage-5/Homepage-5
	include ../components/modules/Homepage/Homepage-6/Homepage-6
	include ../components/modules/Homepage/Homepage-7/Homepage-7
	include ../components/modules/Homepage/Homepage-8/Homepage-8
	include ../components/modules/Homepage/Homepage-9/Homepage-9
	include ../components/modules/Homepage/Homepage-10/Homepage-10
	include ../components/modules/Homepage/Homepage-11/Homepage-11