html
  head
    title Homepage - ACR
    link(rel="stylesheet" href="./Homepage-1.sass")
  body
    // Header
    header(class="bg-white shadow-figma-dropshadow-light")
      nav.container(class="flex-between py-4 mx-auto")
        a(href="/")
          img(src="/Users/mac/Desktop/training/src/assets/img/logo.png" alt="ACR Logo" class="h-10")
        ul(class="flex items-center space-x-6 text-neutral-900 text-figma-base")
          li
            a(href="#" class="hover:text-primary-1") Giới thiệu
          li(class="relative group")
            a(href="#" class="flex items-center hover:text-primary-1")
              | Sản phẩm
              svg(class="ml-1 w-4 h-4 fill-current" viewBox="0 0 20 20")
                path(d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z")
            ul(class="absolute hidden group-hover:block bg-white shadow-figma-dropshadow-light rounded-figma-4 mt-2 w-48")
              li
                a(href="#" class="block px-4 py-2 hover:bg-neutral-50") Sản phẩm 1
              li
                a(href="#" class="block px-4 py-2 hover:bg-neutral-50") Sản phẩm 2
          li
            a(href="#" class="hover:text-primary-1") Công bố sản phẩm
          li
            a(href="#" class="hover:text-primary-1") Quy trình công nghệ
          li
            a(href="#" class="hover:text-primary-1") Chứng nhận
            li
            a(href="#" class="hover:text-primary-1") Tin tức
        div(class="flex items-center space-x-4")
          button(class="text-neutral-900 hover:text-primary-1")
            svg(class="w-6 h-6 fill-current" viewBox="0 0 24 24")
              path(d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 001.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 00-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 005.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
          div(class="relative")
            button(class="flex items-center text-neutral-900 hover:text-primary-1")
              span VN
              svg(class="ml-1 w-4 h-4 fill-current" viewBox="0 0 20 20")
                path(d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z")
            ul(class="absolute hidden group-hover:block bg-white shadow-figma-dropshadow-light rounded-figma-4 mt-2 w-24")
              li
                a(href="#" class="block px-4 py-2 hover:bg-neutral-50") EN
              li
                a(href="#" class="block px-4 py-2 hover:bg-neutral-50") FR
          a(href="#" class="flex items-center bg-primary-1 text-white px-4 py-2 rounded-figma-4 hover:bg-primary-900")
            span Liên hệ
            svg(class="ml-2 w-4 h-4 fill-current" viewBox="0 0 20 20")
              path(d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 010-2h11.586l-4.293-4.293a1 1 0 010-1.414z")
